body{
    font-size: 16px;
    background-color: #61122f;
    font-family: 'Lato', sans-serif;
    color:#fff;
}



/**HEADER**/
#header-nav{
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

#logo{
 background: url("../images/grup.png") no-repeat;
    width: 192px;
    height: 203px;
    margin: 10px 15px 10px 0;
   
}
